<p>You are using named yields. Here are examples how to use them:</p>
<% content_for :head do -%>
  <script></script>
<% end -%>
<% content_for :last do -%>
  
<% end -%>

<% content_for :sidebar do -%>
  <div id="content_inside_sidebar">
				<h2>Recent Entries</h2>
				<ul>
					<li><a href="http://www.edg3.co.uk/hammond-airlifted-to-new-hospital/">Hammond Airlifted To New Hospital</a></li>
					<li><a href="http://www.edg3.co.uk/edg3-design-seven-released/">EDG3 Design Seven Released</a></li>
					<li><a href="http://www.edg3.co.uk/hammond-has-taken-first-steps/">Hammond Has Taken First Steps</a></li>
					<li><a href="http://www.edg3.co.uk/usb-cell/">Usb Cell</a></li>
					<li><a href="http://www.edg3.co.uk/edg3-design-six-released/">EDG3 Design Six Released</a></li>
				</ul>
				<h2>Sponsered Links</h2>
				<ul>
					<li><a href="http://www.4templates.com/?aff=christopher">4Templates</a></li>
					<li><a href="http://www.edg3.co.uk">Christopher Robinson</a></li>
					<li><a href="http://www.evohosting.co.uk/affiliate/idevaffiliate.php?id=131">EVO Hosting</a></li>
					<li><a href="http://www.opendesigns.org/profile/?user=christopher">Open Designs</a></li>
					<li><a href="http://www.text-link-ads.com/?ref=31171">Text Link Ads</a></li>
					<li><a href="http://www.w3csites.com/profile.asp?u=christopher">W3C Sites</a></li>
				</ul>
			</div>
<% end -%>

<% content_for :menu do -%>
  <div id="header_inside">
			<h1><span>Site</span> Name</h1>
			<ul>
				<li><a href="#">link six</a></li>
				<li><a href="#">link five</a></li>
				<li><a href="#">link four</a></li>
				<li><a href="#">link three</a></li>
				<li><a href="#" class="active">active link</a></li>
				<li><a href="#">link one</a></li>
			</ul>		
		</div>
<% end -%>

<% content_for :manu do -%>
  
<% end -%>



<!-- original body content -->
				<h1>Important</h1>
				<p>Licensed under the <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5</a>. I have left the actual text design style very basic for you to add your own text / header / quotes / list etc. styles yourself.</p>
				<h1>header two</h1>
				<p>Volutpat at varius sed sollicitudin et, arcu. Vivamus viverra. Nullam turpis. Vestibulum sed etiam. Lorem ipsum sit amet dolore. Nulla facilisi. Sed tortor. Aenean felis. Quisque eros. Cras lobortis commodo metus. Vestibulum vel purus. In eget odio in sapien adipiscing blandit. Quisque augue tortor, facilisis sit amet, aliquam, suscipit vitae, cursus sed, arcu lorem ipsum dolor sit amet. Fermentum at, varius pretium, elit. Mauris egestas scelerisque nunc. Mauris non ligula quis wisi laoreet malesuada. In commodo. Maecenas lobortis cursus dolor.</p>
				<h1>header three</h1>
				<p>Volutpat at varius sed sollicitudin et, arcu. Vivamus viverra. Nullam turpis. Vestibulum sed etiam. Lorem ipsum sit amet dolore. Nulla facilisi. Sed tortor. Aenean felis. Quisque eros. Cras lobortis commodo metus. Vestibulum vel purus. In eget odio in sapien adipiscing blandit.</p>	
				<p>Volutpat at varius sed sollicitudin et, arcu. Vivamus viverra. Nullam turpis. Vestibulum sed etiam. Lorem ipsum sit amet dolore. Nulla facilisi. Sed tortor. Aenean felis. Quisque eros. Cras lobortis commodo metus. Vestibulum vel purus. In eget odio in sapien adipiscing blandit.</p>	
				<p>Quisque augue tortor, facilisis sit amet, aliquam, suscipit vitae, cursus sed, arcu lorem ipsum dolor sit amet. Fermentum at, varius pretium, elit. Mauris egestas scelerisque nunc. Mauris non ligula quis wisi laoreet malesuada. In commodo. Maecenas lobortis cursus dolor.</p>
				<p>Quisque augue tortor, facilisis sit amet, aliquam, suscipit vitae, cursus sed, arcu lorem ipsum dolor sit amet. Fermentum at, varius pretium, elit. Mauris egestas scelerisque nunc. Mauris non ligula quis wisi laoreet malesuada. In commodo. Maecenas lobortis cursus dolor.</p>
			